# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\wksp_study\dpbook\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
